<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>JPY</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>JPY</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>VND</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>VND</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>JPY</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>JPY</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>VND</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>VND</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
		<key>UINavigationBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
		<key>UITabBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
